<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
		<env name="BFA_BFAL_VALIDATION_MODE" value="current" force="true" />
		<env name="BFA_EXPECTED_BFAL_VERSION" value="3.0.0-rc.1" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="1ec60a55c312ffed689f9fc1c3046b3982daee61" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
