<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="BFA_BFAL_VALIDATION_MODE" value="current" force="true" />
		<env name="BFA_EXPECTED_BFAL_VERSION" value="dev-bundled-local-font-awesome" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="c0b4031f563bcdab16f5b9e6864ac827af94dd88" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
