<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="BFA_BFAL_VALIDATION_MODE" value="current" force="true" />
		<env name="BFA_EXPECTED_BFAL_VERSION" value="2.1.0" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="b845f8d2c105c34a9afe62e8470d67d0e3978164" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
