<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
		<env name="BFA_BFAL_VALIDATION_MODE" value="candidate" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="f2f2e41ade5ac02d04a743772d01030f39b3dd31" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
