<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="BFA_BFAL_VALIDATION_MODE" value="rollback" force="true" />
		<env name="BFA_EXPECTED_BFAL_VERSION" value="2.0.3" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="c5ae75d273ff8a594f9fa58b43542d6dc1482fb0" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome stable BFAL 2.0.3 rollback">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
