<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="BFA_BFAL_VALIDATION_MODE" value="current" force="true" />
		<env name="BFA_EXPECTED_BFAL_VERSION" value="3.0.2" force="true" />
		<env name="BFA_EXPECTED_BFAL_REFERENCE" value="a617fb562724ae5a97a6e308759b8235b60f87be" force="true" />
	</php>
	<testsuites>
		<testsuite name="Better Font Awesome">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
